APP_NAME=skeleton

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

JWT_SECRET=ym135168
JWT_LOGIN_TYPE=sso

SERVER_HOST=47.94.155.227
HTTP_TYPE=http

APP_CODE=
TMP_ID=

ALI_PAY_APP_ID=
ALI_PUBLIC_KEY=
ALI_PRIVATE_KEY=